[Unit]
Description=wall of thanks website
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/anil/cloud/phd
ExecStart=/usr/bin/docker compose up --build --pull always --remove-orphans
ExecStartPost=/usr/bin/docker system prune -f
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
